.header_container {
    background-color: skyblue;
    height: 75px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-color: black;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
}

h3 {
    margin: 0px;
}
.name {
    background-color: blue;
    float: left;
    width: 300px;
    height: 70px;
    text-align: center;
    margin-top: 5px;
    margin-left: 20px;
}

.title_about {
    float: right;
    width: 100px;
    height: 20px;
    text-align: center;
    margin-top: 30px;
}

.title_portfolio {
    float: right;
    width: 100px;
    height: 20px;
    text-align: center;
    margin-top: 30px;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 0px 0px;
}

.title_contact {
    float: right;
    width: 100px;
    height: 20px;
    text-align: center;
    margin-top: 30px;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 0px 0px;
}

.footer {
    background-color: fuchsia;
    height: 50px;
    text-align: center;
    vertical-align: text-bottom;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-top-color: black;
}

.copyright {
    background-color: khaki;
    width: 90px;
    height: 40px;
    display: inline-block;
}

.body_content {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: darkkhaki;
    margin-top: 0px;
    overflow: auto;
    margin: 20px;
    width: 960px;
}

.image_me {
    background-color: purple;
    width: 200px;
    height: 200px;
    margin: 20px;
    float: left;
}

.about_title {
    background-color: maroon;
    height: 35px;
    margin: 20px;
}

.about_content {
    background-color: aquamarine;
    margin: 20px;
    padding: 20px;
}

.portfolio_title {
    background-color: peru;
    height: 35px;
    margin: 20px;
}

.portfolio_hangman {
    background-color: purple;
    height: 200px;
    width: 200px;
    margin: 20px;
    float: left;
    z-index: 1;
    position: relative;

}

.portfolio_rpg {
    background-color: palegoldenrod;
    height: 200px;
    width: 200px;
    margin: 20px;
    float: left;

}

.portfolio_trivia {
    background-color: palegreen;
    height: 200px;
    width: 200px;
    margin: 20px;
    float: left;
    clear: left;

}

.portfolio_rutgers {
    background-color: paleturquoise;
    height: 200px;
    width: 200px;
    margin: 20px;
    float: left;

}

.portfolio_rock {
    background-color: palevioletred;
    height: 200px;
    width: 200px;
    margin: 20px;
    float: left;
    clear: left;
}

.contact_title {
    background-color: rosybrown;
    height: 35px;
    margin: 20px;
}

.contact_form {
    margin: 20px;
}

#name {
    width: 100%;
}

#email {
    width: 100%;
}

#message {
    width: 100%;
    height: 100px;
}
.hangman {
    background-color: orange;
    z-index: 2;
    position: absolute;
}

.rpg {
    background-color: orange;
}

.trivia {
    background-color: orange;
}

.rutgers {
    background-color: orange;
}

.rock {
    background-color: orange;
}